<h1>All Recipes</h1>
<ol>
<% @recipes.each.with_index do |recipe, i| %>
  <li>
    <%= recipe %>
    <p>
      <a href="/recipes/delete/<%= i  %>">Delete</a>
      <a href="/recipes/complete/<%= i  %>">
        <%= recipe.done? ? "Unmark done" : "Mark done" %>
      </a>
    </p>
  </li>
<% end %>
</ol>

<a href="/recipes/new">Add your own recipe</a>

<div>
  <form action="/recipes/search" method="GET">
    <label for="keyword">Search ingredient</label>
    <input type="text" name="keyword">
    <input type="submit">
  </form>
</div>
